{:bot/token "0000000000:XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
 :bot/ip "127.0.0.1"
 :bot/https? false
 :bot/admins ["admin"]

 :db/connection {:uri "./{{name}}-db"}

 :project/config {:payment/token "000000000:TEST:00000"}}
